.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

ion-label {
  h3 {
    margin: 0 0 4px;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

strong {
  font-size: 20px;
}